<h1>Appointments</h1>

<br>

<% today = @appointments.find_by(date: Time.zone.now) %>

<%= button_to "Check In", check_in_path, class:"mb-3 btn btn-primary btn-lg" unless !today.nil? %>

<%= button_to "Lunch Start", lunch_start_path, class:"mb-3 btn btn-primary btn-lg" if !today.nil? and today.lunch_start.nil? and today.out.nil? %>

<%= button_to "Lunch End", lunch_end_path, class:"mb-3 btn btn-primary btn-lg" if !today.nil? and !today.lunch_start.nil? and today.lunch_end.nil? %>

<%= button_to "Check Out", check_out_path, class:"mb-3 btn btn-primary btn-lg" if !today.nil? and ( !today.lunch_end.nil? or today.lunch_start.nil? ) and today.out.nil? %>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Date</th>
        <th>In</th>
        <th>Lunch start</th>
        <th>Lunch end</th>
        <th>Out</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.date.nil? ?         "--" : appointment.date.strftime("%d/%m/%Y") %></td>
          <td><%= appointment.in.nil? ?           "--" : appointment.in.strftime("%k:%M") %></td>
          <td><%= appointment.lunch_start.nil? ?  "--" : appointment.lunch_start.strftime("%k:%M")  %></td>
          <td><%= appointment.lunch_end.nil? ?    "--" : appointment.lunch_end.strftime("%k:%M") %></td>
          <td><%= appointment.out.nil? ?          "--" : appointment.out.strftime("%k:%M") %></td>
          <td>
            <%= link_to 'Edit', edit_appointment_path(appointment), class:"btn btn-secondary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<%= link_to 'New Appointment', new_appointment_path, class:"mb-3 btn btn-secondary" %>
